@{
    ViewData["Title"] = "Success";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Succès</title>
</head>
<body>
    <div>
        Vous êtes authentifié!
    </div>
</body>
</html>