@model WebApplication2.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="reservationID" />
            <div class="form-group">
                <label asp-for="arrive" class="control-label"></label>
                <input asp-for="arrive" class="form-control" />
                <span asp-validation-for="arrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="depart" class="control-label"></label>
                <input asp-for="depart" class="form-control" />
                <span asp-validation-for="depart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="etablishmentID" class="control-label"></label>
                <select asp-for="etablishmentID" class="form-control" asp-items="ViewBag.etablishmentID"></select>
                <span asp-validation-for="etablishmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
